= simple_form_for(@order_service) do |f|
  = f.input :full_name
  = f.input :phone
  = f.input :email

  = f.association :menu_entities, :as => :check_boxes, collection: MenuEntity.with_subpages.ordered

  = f.input :comment

  = f.button :submit, 'Отправить'
