%nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-9", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Home', root_path, class: 'navbar-brand'
    #bs-example-navbar-collapse-9.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to '1) Контакты', contacts_path
        %li
          = link_to '2) Меню', menu_entities_path
        %li
          = link_to '3) Форма заказа услуг', new_order_service_path
        %li
          = link_to 'Почта', '/letter_opener', target: '_blank'
