!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      #{t('activerecord.attributes.order_service.full_name')}:
      = @order_service.full_name
    %p
      #{t('activerecord.attributes.order_service.phone')}:
      = @order_service.phone
    %p
      #{t('activerecord.attributes.order_service.email')}:
      = @order_service.email
    %p
      Заказаны следующие услуги: #{@order_service.menu_entities.map(&:name).join(', ')}
    %p
      Комментарий: #{@order_service.comment}
