%h1 Меню

%ul
  - @menu_entities.each do |menu_entity|
    %li
      = link_to menu_entity.name, menu_entity_link_url(menu_entity.link)
      - if menu_entity.sub_pages.any?
        %ul
          - menu_entity.sub_pages.each do |sub_page|
            %li= link_to sub_page.name, sub_page_link_url(sub_page.menu_entity.link, sub_page.id)

= link_to 'Новый пункт меню', new_menu_entity_path
%br
= link_to 'Новый подпункт пункт меню', new_sub_page_path
