%h1= @menu_entity.name

= @menu_entity.text
%br
%br
= link_to 'Редактировать', edit_menu_entity_path(@menu_entity)
%br
= link_to 'Удалить', @menu_entity, :method => :delete, :data => { :confirm => 'Удалить?' }
