= render 'form', contact: @contact
%hr
%table.table.table-bordered.table-contacts
  %thead
    %tr
      %th= t('activerecord.attributes.contact.full_name')
      %th= t('activerecord.attributes.contact.phone')
      %th= t('activerecord.attributes.contact.email')
  %tbody
    - @contacts.each do |contact|
      %tr
        %td= contact.full_name
        %td= contact.phone
        %td= contact.email
